body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}
ul{
    list-style: none;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    padding: 10px;
}

.text-accent {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.site-nav__link {
    text-decoration: underline;
    color: blueviolet;
}

.big-font{
    font-size: 40px;
}

canvas {
        border: 1px solid black;
        margin-top: 20px;
      } /*НАПОМНІТЬ ПРО КАНВАС КАТЕРИНА ПРОСИЛА НАПОМНІТЬ ЇЙ*/
#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
#box {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shadow {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.gallery {
display: flex;
overflow-x: auto;
}

.image {
width: 300px;
height: 200px;
object-fit: cover;
margin-right: 20px;
cursor: pointer;
}

.full-image-container {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
}

.full-image {
max-width: 90%;
max-height: 90%;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}